<div id="{{ modal.id }}" tabindex="-1" role="dialog" aria-modal="true" {{ attributes }}>
    <div class="modal__container">
        {% if modal.pre_content is not empty %}
            {{ modal.pre_content|raw }}
        {% endif %}
        {% if modal.insertHeading %}
            <h2 class="sr-only">{{ modal.resolvedLabel }}</h2>
        {% endif %}
        <div class="modal__content">
            {{ content|raw }}
        </div>
        <button class="modal__close" type="button" aria-label="Close modal">{{ close }}</button>
    </div>
</div>
